@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.menu {
  @extend %container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $gap-lg;
  @include xs {
    flex-direction: column;
    gap: 10px;
  }
  // padding-top: $gap;
}
.menu-logo {
  max-width: 150px;
  &__img {
    width: 100%;
  }
}
.menu-nav {
  flex-grow: 1;
  display: flex;
  column-gap: $gap-lg;
  flex-direction: row-reverse;
  font-weight: 500;

  @include md {
    display: none;
  }
  &__btn {
    @include xs {
      display: none;
    }
  }
 
}
.menu-nav__humburger {
  width: 30px;
  height: 22.5px;
  position: relative;
  margin: 25px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  @include md-min {
    display: none;
  }
}

.menu-nav__humburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $color-darkgreen;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-nav__humburger span:nth-child(1) {
  top: 0px;
}

.menu-nav__humburger span:nth-child(2) {
  top: 9px;
}

.menu-nav__humburger span:nth-child(3) {
  top: 18px;
}

.menu-nav__humburger.open span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}

.menu-nav__humburger.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

.menu-nav__humburger.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}
